<ion-view view-title="О кинотеатре">
    <ion-content>
        <div class="row no-padding">
            <div class="thumbnail cinema">
                <img class="" ng-src="{{Cinema.photo}}" />
            </div>
        </div>
        <div class="row">
            <h1>{{Cinema.name}}</h1>
        </div>
        <div class="row">
            <h4 ng-bind-html="Cinema.address"></h4>
        </div>
        <div class="row">
            <h3>{{Cinema.phone}}</h3>
        </div>

        <div class="row">
            <hr>
            <div class="col col-20"></div>
            <div class="col col-60">
                <div class="rate-block">
                   <span>рейтинг</span><br>
                   <span>{{Cinema.rating}}</span>

                </div>
            </div>
            <div class="col col-20"></div>
        </div>

      <div class="item">
        <a class="button button-positive big-icon" ui-sref="app.cinema-schedule({
                cinemaID: Cinema.id,
                cinemaData: {
                    name: Cinema.name,
                    address: Cinema.address,
                    poster: Cinema.photo
                }
                })">
          <i class="icon ion-ios-videocam"></i>
          <small>Смотреть расписание</small>
        </a>
      </div>

    </ion-content>

</ion-view>
