<ion-view view-title="Расписание на {{daytext}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row no-padding">
      <div class="thumbnail cinema">
        <img class="" ng-src="{{Cinema.poster}}"/>
      </div>
    </div>
    <div class="row">
      <h1>{{Cinema.name}}</h1>
    </div>
    <div class="row">
      <p ng-bind="Cinema.address"></p>
    </div>

    <div class="list" ng-if="CinemaSessions" ng-repeat="(key, value) in CinemaSessions | groupBy: 'm.id' ">

      <div class="item item-divider ">
        <div class="row">
          <div class="col col-90">
            <h3 class="assertive">{{ value[0].m.nameRus }}</h3>

            <p>{{ value[0].m.genre }}</p>
          </div>
          <div class="col col-10">
            <i class="icon ion-ios-information-outline gray" ui-sref="app.movie({
                            movieId: value[0].m.id
                        })"></i>
          </div>
        </div>


      </div>


      <a class="item" ng-repeat="film in value">
        <button class="button positive-border bilet-block" ng-click="share(value[0].m.nameRus,film.t,Cinema.name)">
          <div class="time">{{ film.t | onlyTime }}</div>
          <ul>
            <li ng-if="film.c != 0">
              <small>Дет: {{film.c}}</small>
            </li>
            <li ng-if="film.s != 0">
              <small>Студ: {{film.s}}</small>
            </li>
            <li ng-if="film.a != 0">
              <small>Взрослый: {{film.a}}</small>
            </li>
          </ul>
        </button>
      </a>


    </div>


  </ion-content>
  <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <a class="item" ng-click="showSessionsforDay(0)">
            На сегодня
          </a>
          <a class="item" ng-click="showSessionsforDay(1)">
            На завтра
          </a>
          <a class="item" ng-click="showSessionsforDay(2)">
            Послезавтра
          </a>

        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
