<ion-view view-title="Премьеры">
    <ion-content>
        <div class="card" ng-repeat="item in premieres" ui-sref="app.movie({ movieId: item.id })" >
            <div class="item item-age no-padding">
                <div class="row">
                    <div class="col col-33">
                        <div class="item item-image">
                            <img ng-src="{{item.big_poster}}">
                        </div>
                    </div>
                    <div class="col col-67">
                        <div ng-if="item.age" class="circle age">
                            <span>{{item.age}}+</span>
                        </div>
                        <div class="heading">
                            <div class="title">
                                <h2>{{item.nameRus}}</h2>
                            </div>
                            <div class="film-genre">
                                <p>{{item.genre}}</p>
                            </div>
                        </div>



                        <div class="item item-text-wrap">
                            <div class="present">
                                {{item.presentation}}
                            </div>
                            <div class="premiere">
                                с {{item.premiereKaz}}
                            </div>

                        </div>

                    </div>
                </div>




            </div>

        </div>
    </ion-content>
</ion-view>
