/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$normalText: 1em;
$p16: 16px;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.secondary-content {
  margin-top: 40px;
}

.row {
  &.no-padding {
    padding: 0;

  }
  .col.no-padding {
    padding: 0;
  }
}

.tabs-top.tabs-my > .tabs {
  top: 0 !important;

}

.bar.bar-header {
  padding: 0;
  height: auto;

  .header-logo {
    background-image: url(../img/header.jpg);
    background-size: 100% 100%;
    min-height: 240px;
    min-width: 100%;
  }

  select {
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 10px;

  }

}

.has-header.has-image {
  top: 240px;
}

.item {
  &.no-padding {
    padding: 0;
  }

  .ion-ios-information-outline.gray:before {
    font-size: 33px;
    &:hover {
      content: "\f44d";
    }
  }

  .age.circle {
    border-radius: 50%;
    background-color: bisque;
    border: 2px solid $energized;
    float: right;
    width: 48px;
    height: 48px;
    & > span {
      text-align: center;
      vertical-align: middle;
      font-size: $normalText;
      display: inherit;
      line-height: 38px;
      padding: 3px;
    }
  }
  .heading {
    min-height: 58px;
    display: block;
    .title {
      padding-left: $p16;
    }
    .film-genre {
      padding-left: $p16;
    }
  }
  .premiere {
    padding-top: $p16;
    float: right;
    color: #888888;
  }
  .rating {
    float: left;
    padding-top: $p16;
  }
  dl {
    margin: 0;
    dd, dt {

    }
  }
}

.thumbnail {
  display: block;
  &.cinema {
    min-width: 100%;
    width: 100%;
    img {
      width: inherit
    }
  }
}

.ionic_ratings .icon {
  font-size: 32px;
}

.popover {
  height: auto !important;
}

.popover ion-header-bar {
  position: relative;
}

.popover ion-content {
  top: 0;
  position: relative;
}

.bilet-block {
  width: 100%;
  .time {

  }

  ul > li {
    display: inline-block;
    margin: 0 6px;
    &::before {
      content: "\00B7";
      font-size: 3em;
      line-height: .7em;
      vertical-align: middle;
      float: left;
      padding-right: 6px;;
    }

  }
}

.button.button-positive.big-icon {
  .icon:before {
    line-height: 1.8em;
  }
  > small {
    display: block;
    float: none;
    clear: both;
    line-height: 1.8em;

    &:after{

    }


  }
}

a {

}
